dist/
out/

.env

**/main.js
**/node_modules/

# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.ipynb_checkpoints
env
*.ipynb

# exclude data stored by obsidian
data.json

NOTES.md

create_embeddings.js
semantic_search.db
run_dev_env.sh